
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

header p {
    margin-top: 5px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    
}

.gallery-item {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    border: solid 3px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.gallery-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

.gallery-item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.gallery-item p {
    font-size: 20px;
    text-align: center;
    margin: 0;
}
a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(23, 17, 63) ;
}
body::before{
    background-image: url('21.jpg');
    content:"";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.6;

}